In [ ]:
import pandas as pd
import os

In [ ]:
def unificandoDf(diretorio):
    # Lista de nomes de colunas
    nomes_colunas = ['Colun' + str(i) for i in range(50)]

    # Inicializa um DataFrame vazio para armazenar os base
    base = pd.DataFrame(columns=nomes_colunas + ['Origem_Arquivo'])

    # Lista para armazenar os nomes dos arquivos
    nomes_arquivos = []
    # Loop pelos arquivos no diretório
    for arquivo in os.listdir(diretorio):
        if arquivo.endswith('.csv'):
            caminho_arquivo = os.path.join(diretorio, arquivo)
            # Abre o arquivo CSV usando ";" como delimitador
            base_arquivo = pd.read_csv(caminho_arquivo, delimiter=';', names=nomes_colunas, encoding= 'latin-1')
            # Adiciona uma coluna 'Origem_Arquivo' com o nome do arquivo ao DataFrame
            base_arquivo['Origem_Arquivo'] = arquivo
            # Adiciona os base do arquivo ao DataFrame principal
            base = pd.concat([base, base_arquivo], ignore_index=True)

    base.dropna(axis=1, how="all", inplace= True)
    txt = arquivo.split("_")
    saida = txt[0]
    return base, saida

In [ ]:
# Caminho para os arquivos CSV do Balancete
caminho_diretorio = r'G:\Meu Drive\Bases Dash Câmara BI\Base Original Balancete'
retornoDaFunc = unificandoDf(caminho_diretorio)
base = retornoDaFunc[0]
nameSalvar = retornoDaFunc[1]

In [ ]:
#separando por categoria
v10 = base.loc[base['Colun0'] == 10]
v11 = base.loc[base['Colun0'] == 11]
v14 = base.loc[base['Colun0'] == 14]
v15 = base.loc[base['Colun0'] == 15]
v16 = base.loc[base['Colun0'] == 16]
v17 = base.loc[base['Colun0'] == 17]
v18 = base.loc[base['Colun0'] == 18]
v24 = base.loc[base['Colun0'] == 24]
v30 = base.loc[base['Colun0'] == 30]

v10.dropna(axis=1, how="all",inplace= True)
v11.dropna(axis=1, how="all",inplace= True)
v14.dropna(axis=1, how="all",inplace= True)
v15.dropna(axis=1, how="all",inplace= True)
v16.dropna(axis=1, how="all",inplace= True)
v17.dropna(axis=1, how="all",inplace= True)
v18.dropna(axis=1, how="all",inplace= True)
v24.dropna(axis=1, how="all",inplace= True)
v30.dropna(axis=1, how="all",inplace= True)

In [ ]:
#Renomeando Colunas
v10.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'contaContabil', 'Colun2': 'codFundo',
                    'Colun3': 'saldoInicial', 'Colun4': 'naturezaSaldoInicial', 'Colun5': 'totalDebitos',
                    'Colun6': 'totalCreditos', 'Colun7': 'saldoFinal', 'Colun8': 'naturezaSaldoFinal'
                    },inplace= True)

v11.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'contaContabil', 'Colun2': 'codFundo','Colun3': 'codOrgao', 'Colun4': 'codUnidadeSub', 
                    'Colun5': 'codFuncao','Colun6': 'codSubFuncao', 'Colun7': 'codPrograma', 'Colun8': 'idAcao', 'Colun9': 'idSubAcao',
                    'Colun10': 'naturezaDespesa', 'Colun11': 'codFontRecursos', 'Colun12': 'saldoInicialCD','Colun13': 'naturezaSaldoInicialCD',
                    'Colun14': 'totalDebitosCD','Colun15': 'totalCreditosCD','Colun16': 'saldoFinalCD', 'Colun17': 'naturezaSaldoFinalCD',
                   },inplace= True)

v14.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'contaContabil', 'Colun2': 'codFundo','Colun3': 'codOrgao', 'Colun4': 'codUnidadeSub', 
                    'Colun5': 'codUnidadeSubOrig','Colun6': 'codFuncao', 'Colun7': 'codSubFuncao', 'Colun8': 'codPrograma', 'Colun9': 'idAcao',
                    'Colun10': 'idSubAcao', 'Colun11': 'naturezaDespesa', 'Colun12': 'subElemento','Colun13': 'codFontRecursos',
                    'Colun14': 'codCO','Colun15': 'nroEmpenho','Colun16': 'anoInscricao', 'Colun17': 'saldoInicialRSP',
                    'Colun18': 'naturezaSaldoInicialRSP','Colun19': 'totalDebitosRSP','Colun20': 'totalCreditosRSP','Colun21': 'saldoFinalRSP', 'Colun22': 'naturezaSaldoFinalRSP'
                   },inplace= True)

v15.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'contaContabil', 'Colun2': 'codFundo','Colun3': 'atributoSF', 'Colun4': 'saldoInicialSF', 
                    'Colun5': 'naturezaSaldoInicialSF','Colun6': 'totalDebitosSF', 'Colun7': 'totalCreditosSF', 'Colun8': 'saldoFinalSF', 'Colun9': 'naturezaSaldoFinalSF',
                    },inplace= True)

v16.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'contaContabil', 'Colun2': 'codFundo','Colun3': 'atributoSF', 'Colun4': 'codFontRecursos', 
                    'Colun5': 'codCO','Colun6': 'saldoInicialFontSF', 'Colun7': 'naturezaSaldoInicialFontSF', 'Colun8': 'totalDebitosFontSF',
                    'Colun9': 'totalCreditosFontSF','Colun10': 'saldoFinalFontSF','Colun11': 'naturezaSaldoFinalFontSF'
                    },inplace= True)

v17.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'contaContabil', 'Colun2': 'codFundo','Colun3': 'atributoSF', 'Colun4': 'codCTB', 
                    'Colun5': 'codFontRecursos','Colun6': 'codCO', 'Colun7': 'saldoInicialCTB', 'Colun8': 'naturezaSaldoInicialCTB',
                    'Colun9': 'totalDebitosCTB','Colun10': 'totalCreditosCTB','Colun11': 'saldoFinalCTB','Colun12': 'naturezaSaldoFinalCTB'
                    },inplace= True)

v18.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'contaContabil', 'Colun2': 'codFundo',
                    'Colun3': 'codFontRecursos', 'Colun4': 'saldoInicialFR','Colun5': 'naturezaSaldoInicialFR','Colun6': 'totalDebitosFR', 
                    'Colun7': 'totalCreditosFR', 'Colun8': 'saldoFinalFR','Colun9': 'naturezaSaldoFinalFR'
                    },inplace= True)

v24.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'contaContabil', 'Colun2': 'codFundo',
                    'Colun3': 'codOrgao', 'Colun4': 'codUnidadeSub','Colun5': 'saldoInicialOrgao','Colun6': 'naturezaSaldoInicialOrgao', 
                    'Colun7': 'totalDebitosOrgao', 'Colun8': 'totalCreditosOrgao','Colun9': 'saldoFinalOrgao','Colun10': 'naturezaSaldoFinalOrgao'
                    },inplace= True)

v30.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'contaContabil', 'Colun2': 'codFundo','Colun3': 'codOrgao', 'Colun4': 'codUnidadeSub', 
                    'Colun5': 'codFuncao','Colun6': 'codSubFuncao', 'Colun7': 'codPrograma', 'Colun8': 'idAcao', 'Colun9': 'idSubAcao',
                    'Colun10': 'naturezaDespesa', 'Colun11': 'subElemento', 'Colun12': 'codFontRecursos','Colun13': 'codCO',
                    'Colun14': 'saldoInicialCDE','Colun15': 'naturezaSaldoInicialCDE','Colun16': 'totalDebitosCDE', 
                    'Colun17': 'totalCreditosCDE','Colun18': 'saldoFinalCDE','Colun19': 'naturezaSaldoFinalCDE'
                    },inplace= True)

In [ ]:
unir = pd.concat([v10,v11,v14,v15,v16,v17,v18,v24,v30])
s_unir = r'G:\Meu Drive\Bases Dash Câmara BI\Bases Unidas'
unir.to_excel(f"{s_unir}\{nameSalvar}_unificado.xlsx", index=False)

In [ ]:
# Caminho para os arquivos CSV do ANL
caminho_diretorio = r'G:\Meu Drive\Bases Dash Câmara BI\Base Original EMP'
retornoDaFunc = unificandoDf(caminho_diretorio)
base = retornoDaFunc[0]
nameSalvar = retornoDaFunc[1]

In [ ]:
#separando por categoria
EMP10 = base.loc[base['Colun0'] == 10]
EMP11 = base.loc[base['Colun0'] == 11]
EMP12 = base.loc[base['Colun0'] == 12]
EMP20 = base.loc[base['Colun0'] == 20]

EMP11.dropna(axis=1, how="all",inplace= True)
EMP12.dropna(axis=1, how="all",inplace= True)
EMP20.dropna(axis=1, how="all",inplace= True)

In [ ]:
EMP10.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codOrgao', 'Colun2': 'codUnidadeSub','Colun3': 'codFuncao', 'Colun4': 'codSubFuncao', 
                    'Colun5': 'codPrograma','Colun6': 'idAcao', 'Colun7': 'idSubAcao', 'Colun8': 'naturezaDespesa', 'Colun9': 'subElemento',
                    'Colun10': 'nroEmpenho', 'Colun11': 'dtEmpenho', 'Colun12': 'modalidadeEmpenho','Colun13': 'tpEmpenho',
                    'Colun14': 'vlBruto','Colun15': 'especificacaoEmpenho','Colun16': 'despDecContrato', 'Colun17': 'codOrgaoRespContrato',
                    'Colun18': 'codUnidadeSubRespContrato','Colun19': 'nroContrato','Colun20': 'dataAssinaturaContrato','Colun21': 'nroSequencialTermoAditivo', 
                    'Colun22': 'despDecConvenio','Colun23': 'nroConvenio','Colun24': 'dataAssinaturaConvenio', 'Colun25': 'despDecConvenioConge',
                    'Colun26': 'nroConvenioConge','Colun27': 'dataAssinaturaConge','Colun28': 'despDecLicitacao', 'Colun29': 'codOrgaoRespLicit',
                    'Colun30': 'codUnidadeSubRespLicit','Colun31': 'nroProcessoLicitatorio','Colun32': 'exercicioProcessoLicitatorio', 'Colun33': 'tipoProcesso','Colun34': 'cpfOrdenador'
                   },inplace= True)

EMP11.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codUnidadeSub', 'Colun2': 'nroEmpenho','Colun3': 'codFontRecursos', 'Colun4': 'codCO', 'Colun5': 'valorFonte'},inplace= True)

EMP12.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codUnidadeSub', 'Colun2': 'nroEmpenho','Colun3': 'tipoDocumento', 'Colun4': 'nroDocumento'},inplace= True)

EMP20.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codOrgao', 'Colun2': 'codUnidadeSub','Colun3': 'nroEmpenho', 'Colun4': 'dtEmpenho', 
                      'Colun5': 'nroReforco','Colun6': 'dtReforco', 'Colun7': 'codFontRecursos', 'Colun8': 'codCO', 'Colun9': 'vlReforco'
                   },inplace= True)

In [ ]:
unir = pd.concat([EMP10,EMP11,EMP12,EMP20])
s_unir = r'G:\Meu Drive\Bases Dash Câmara BI\Bases Unidas'
unir.to_excel(f"{s_unir}\{nameSalvar}_unificado.xlsx", index=False)

In [ ]:
# Caminho para os arquivos CSV do ALN
caminho_diretorio = r'G:\Meu Drive\Bases Dash Câmara BI\Base Original ANL'
retornoDaFunc = unificandoDf(caminho_diretorio)
base = retornoDaFunc[0]
nameSalvar = retornoDaFunc[1]

In [ ]:
#separando por categoria
ANL10 = base.loc[base['Colun0'] == 10]
ANL11 = base.loc[base['Colun0'] == 11]
ANL99 = base.loc[base['Colun0'] == 99]

ANL10.dropna(axis=1, how="all",inplace= True)
ANL11.dropna(axis=1, how="all",inplace= True)
ANL99.dropna(axis=1, how="all",inplace= True)

In [ ]:
#Renomeando colunas

ANL10.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codOrgao', 'Colun2': 'codUnidadeSub','Colun3': 'nroEmpenho', 'Colun4': 'dtEmpenho', 
                    'Colun5': 'dtAnulacao','Colun6': 'nroAnulacao', 'Colun7': 'tipoAnulacao', 'Colun8': 'especAnulacaoEmpenho', 'Colun9': 'vlAnulacao'
                     },inplace= True)

ANL11.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codUnidadeSub', 'Colun2': 'nroEmpenho','Colun3': 'nroAnulacao', 'Colun4': 'codFontRecursos',
                      'Colun5': 'codCO','Colun6': 'vlAnulacaoFonte'
                     },inplace= True)
ANL99.rename(columns={'Colun0': 'tipoRegistro'},inplace= True)

In [ ]:
unir = pd.concat([ANL10,ANL11,ANL99])
s_unir = r'G:\Meu Drive\Bases Dash Câmara BI\Bases Unidas'
unir.to_excel(f"{s_unir}\{nameSalvar}_unificado.xlsx", index=False)

In [ ]:
# Caminho para os arquivos CSV do CTB
caminho_diretorio = r'G:\Meu Drive\Bases Dash Câmara BI\Base Original CTB'
retornoDaFunc = unificandoDf(caminho_diretorio)
base = retornoDaFunc[0]
nameSalvar = retornoDaFunc[1]

In [ ]:
#separando por categoria
CTB10 = base.loc[base['Colun0'] == 10]
CTB20 = base.loc[base['Colun0'] == 20]
CTB21 = base.loc[base['Colun0'] == 21]
CTB22 = base.loc[base['Colun0'] == 22]
CTB50 = base.loc[base['Colun0'] == 50]
CTB99 = base.loc[base['Colun0'] == 99]

CTB10.dropna(axis=1, how="all",inplace= True)
CTB20.dropna(axis=1, how="all",inplace= True)
CTB21.dropna(axis=1, how="all",inplace= True)
CTB22.dropna(axis=1, how="all",inplace= True)
CTB50.dropna(axis=1, how="all",inplace= True)
CTB99.dropna(axis=1, how="all",inplace= True)

In [ ]:
#Renomeando colunas

CTB10.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codCTB', 'Colun2': 'codOrgao','Colun3': 'banco', 'Colun4': 'agencia', 
                    'Colun5': 'digitoVerificadorAgencia','Colun6': 'contaBancaria', 'Colun7': 'digitoVerificadorContaBancaria', 
                    'Colun8': 'tipoConta', 'Colun9': 'nroSeqAplicacao','Colun10': 'descContaBancaria', 'Colun11': 'contaConvenio', 
                    'Colun12': 'nroConvenio', 'Colun13': 'dataAssinaturaConvenio'
                     },inplace= True)

CTB20.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codOrgao', 'Colun2': 'codCTB','Colun3': 'codFontRecursos', 'Colun4': 'saldoCEC', 
                      'Colun5': 'vlSaldoInicialFonte', 'Colun6': 'vlSaldoFinalFonte'
                     },inplace= True)

CTB21.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codCTB', 'Colun2': 'codFontRecursos','Colun3': 'codReduzidoMOV', 'Colun4': 'tipoMovimentacao', 
                    'Colun5': 'tipoEntrSaida','Colun6': 'dscOutrasMov', 'Colun7': 'saldoCEC','Colun8': 'valorEntrSaida', 'Colun9': 'codCTBTransf',
                    'Colun10': 'codFonteCTBTransf', 'Colun11': 'saldoCECTransf','Colun12': 'codIdentificaFR'
                     },inplace= True)

CTB22.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codReduzidoMOV', 'Colun2': 'eDeducaoDeReceita','Colun3': 'identificadorDeducao', 'Colun4': 'naturezaReceita', 
                    'Colun5': 'codFontRecursos','Colun6': 'codCO', 'Colun7': 'saldoCEC','Colun8': 'vlrReceitaCont'
                     },inplace= True)

CTB50.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codOrgao', 'Colun2': 'codCTB','Colun3': 'situacaoConta', 'Colun4': 'dataSituacao'
                     },inplace= True)

CTB99.rename(columns={'Colun0': 'tipoRegistro' },inplace= True)

In [ ]:
unir = pd.concat([CTB10,CTB20,CTB21,CTB22,CTB50,CTB99])
s_unir = r'G:\Meu Drive\Bases Dash Câmara BI\Bases Unidas'
unir.to_excel(f"{s_unir}\{nameSalvar}_unificado.xlsx", index=False)

In [ ]:
# Caminho para os arquivos CSV do CAIXA
caminho_diretorio = r'G:\Meu Drive\Bases Dash Câmara BI\Base Original CAIXA'
retornoDaFunc = unificandoDf(caminho_diretorio)
base = retornoDaFunc[0]
nameSalvar = retornoDaFunc[1]

In [ ]:
#separando por categoria
CX10 = base.loc[base['Colun0'] == 10]
CX11 = base.loc[base['Colun0'] == 11]
CX99 = base.loc[base['Colun0'] == 99]

CX10.dropna(axis=1, how="all",inplace= True)
CX11.dropna(axis=1, how="all",inplace= True)
CX99.dropna(axis=1, how="all",inplace= True)

In [ ]:
CX10.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codOrgao', 
                     'Colun2': 'vlSaldoInicial','Colun3': 'vlSaldoFinal'
                     },inplace= True)

CX11.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codFonteCaixa', 
                     'Colun2': 'vlSaldoInicialFonte','Colun3': 'vlSaldoFinalFonte'
                     },inplace= True)

CX99.rename(columns={'Colun0': 'tipoRegistro'
                     },inplace= True)

In [ ]:
unir = pd.concat([CX10,CX11,CX99])
s_unir = r'G:\Meu Drive\Bases Dash Câmara BI\Bases Unidas'
unir.to_excel(f"{s_unir}\{nameSalvar}_unificado.xlsx", index=False)

In [ ]:
# Caminho para os arquivos CSV do LQD
caminho_diretorio = r'G:\Meu Drive\Bases Dash Câmara BI\Base Original LQD'
retornoDaFunc = unificandoDf(caminho_diretorio)
base = retornoDaFunc[0]
nameSalvar = retornoDaFunc[1]

In [ ]:
#separando por categoria
LQD10 = base.loc[base['Colun0'] == 10]
LQD11 = base.loc[base['Colun0'] == 11]
LQD99 = base.loc[base['Colun0'] == 99]

LQD10.dropna(axis=1, how="all",inplace= True)
LQD11.dropna(axis=1, how="all",inplace= True)
LQD99.dropna(axis=1, how="all",inplace= True)

In [ ]:
LQD10.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codFonteCaixa','Colun2': 'vlSaldoInicialFonte','Colun3': 'codUnidadeSub',
                      'Colun4': 'tpLiquidacao', 'Colun5': 'nroEmpenho','Colun6': 'dtEmpenho','Colun7': 'dtLiquidacao',
                      'Colun8': 'nroLiquidacao', 'Colun9': 'vlLiquidado','Colun10': 'cpfLiquidante'
                     },inplace= True)

LQD11.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codReduzido','Colun2': 'codFontRecursos','Colun3': 'codCO',
                      'Colun4': 'valorFonte'
                     },inplace= True)

LQD99.rename(columns={'Colun0': 'tipoRegistro'
                     },inplace= True)

In [ ]:
unir = pd.concat([LQD10,LQD11,LQD99])
s_unir = r'G:\Meu Drive\Bases Dash Câmara BI\Bases Unidas'
unir.to_excel(f"{s_unir}\{nameSalvar}_unificado.xlsx", index=False)

In [ ]:
# Caminho para os arquivos CSV do ALQ
caminho_diretorio = r'G:\Meu Drive\Bases Dash Câmara BI\Base Original ALQ'
retornoDaFunc = unificandoDf(caminho_diretorio)
base = retornoDaFunc[0]
nameSalvar = retornoDaFunc[1]

In [ ]:
base.Colun0.unique()

In [ ]:
#separando por categoria
ALQ10 = base.loc[base['Colun0'] == 10]
ALQ11 = base.loc[base['Colun0'] == 11]
ALQ99 = base.loc[base['Colun0'] == 99]

ALQ10.dropna(axis=1, how="all",inplace= True)
ALQ11.dropna(axis=1, how="all",inplace= True)
ALQ99.dropna(axis=1, how="all",inplace= True)

In [ ]:
ALQ10.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codReduzido','Colun2': 'codOrgao','Colun3': 'codUnidadeSub',
                      'Colun4': 'nroEmpenho', 'Colun5': 'dtEmpenho','Colun6': 'dtLiquidacao','Colun7': 'nroLiquidacao','Colun8': 'dtAnulacaoLiq', 
                      'Colun9': 'nroLiquidacaoANL','Colun10': 'tpLiquidacao', 'Colun11': 'justificativaAnulacao','Colun12': 'vlAnulado'
                     },inplace= True)

ALQ11.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codReduzido','Colun2': 'codFontRecursos','Colun3': 'codCO',
                      'Colun4': 'valorAnuladoFonte'
                     },inplace= True)

ALQ99.rename(columns={'Colun0': 'tipoRegistro'
                     },inplace= True)

In [ ]:
unir = pd.concat([ALQ10,ALQ11,ALQ99])
s_unir = r'G:\Meu Drive\Bases Dash Câmara BI\Bases Unidas'
unir.to_excel(f"{s_unir}\{nameSalvar}_unificado.xlsx", index=False)

In [ ]:
# Caminho para os arquivos CSV do OPS
caminho_diretorio = r'G:\Meu Drive\Bases Dash Câmara BI\Base Original OPS'
retornoDaFunc = unificandoDf(caminho_diretorio)
base = retornoDaFunc[0]
nameSalvar = retornoDaFunc[1]

In [ ]:
#separando por categoria
OPS10 = base.loc[base['Colun0'] == 10]
OPS11 = base.loc[base['Colun0'] == 11]
OPS12 = base.loc[base['Colun0'] == 12]
OPS13 = base.loc[base['Colun0'] == 13]
OPS99 = base.loc[base['Colun0'] == 99]

OPS10.dropna(axis=1, how="all",inplace= True)
OPS11.dropna(axis=1, how="all",inplace= True)
OPS12.dropna(axis=1, how="all",inplace= True)
OPS13.dropna(axis=1, how="all",inplace= True)
OPS99.dropna(axis=1, how="all",inplace= True)

In [ ]:
OPS10.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codOrgao','Colun2': 'codUnidadeSub','Colun3': 'nroOP',
                      'Colun4': 'dtPagamento', 'Colun5': 'vlOP','Colun6': 'especificacaoOP','Colun7': 'cpfRespPgto'
                      },inplace= True)

OPS11.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codReduzidoOP','Colun2': 'codUnidadeSub','Colun3': 'nroOP',
                      'Colun4': 'dtPagamento','Colun5': 'tipoPagamento','Colun6': 'nroEmpenho','Colun7': 'dtEmpenho',
                      'Colun8': 'nroLiquidacao','Colun9': 'dtLiquidacao','Colun10': 'codFontRecursos', 'Colun11': 'codCO',
                      'Colun12': 'valorFonte','Colun13': 'tipoDocumentoCredor','Colun14': 'nroDocumento','Colun15': 'codOrgaoEmpOP',
                      'Colun16': 'codUnidadeEmpOP'
                     },inplace= True)

OPS12.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codReduzidoOP','Colun2': 'tipoDocumentoOP','Colun3': 'nroDocumento',
                      'Colun4': 'codCTB','Colun5': 'codFonteCTB','Colun6': 'descTipoDocumentoOP','Colun7': 'dtEmissao',
                      'Colun8': 'vlDocumento'
                     },inplace= True)

OPS13.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codReduzidoOP','Colun2': 'tipoRetencao','Colun3': 'descricaoRetencao',
                      'Colun4': 'vlRetencao'
                     },inplace= True)


OPS99.rename(columns={'Colun0': 'tipoRegistro'
                     },inplace= True)

In [ ]:
unir = pd.concat([OPS10,OPS11,OPS12,OPS13,OPS99])
s_unir = r'G:\Meu Drive\Bases Dash Câmara BI\Bases Unidas'
unir.to_excel(f"{s_unir}\{nameSalvar}_unificado.xlsx", index=False)

In [ ]:
# Caminho para os arquivos CSV do AOP
caminho_diretorio = r'G:\Meu Drive\Bases Dash Câmara BI\Base Original AOP'
retornoDaFunc = unificandoDf(caminho_diretorio)
base = retornoDaFunc[0]
nameSalvar = retornoDaFunc[1]

In [ ]:
#separando por categoria
AOP10 = base.loc[base['Colun0'] == 10]
AOP11 = base.loc[base['Colun0'] == 11]
AOP12 = base.loc[base['Colun0'] == 12]
AOP13 = base.loc[base['Colun0'] == 13]
AOP14 = base.loc[base['Colun0'] == 14]
AOP99 = base.loc[base['Colun0'] == 99]

AOP10.dropna(axis=1, how="all",inplace= True)
AOP11.dropna(axis=1, how="all",inplace= True)
AOP12.dropna(axis=1, how="all",inplace= True)
AOP13.dropna(axis=1, how="all",inplace= True)
AOP14.dropna(axis=1, how="all",inplace= True)
AOP99.dropna(axis=1, how="all",inplace= True)

In [ ]:
AOP10.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codOrgao','Colun2': 'codUnidadeSub','Colun3': 'nroOP',
                      'Colun4': 'dtPagamento','Colun5': 'nroAnulacaoOP','Colun6': 'dtAnulacaoOP','Colun7': 'justificativaAnulacao',
                      'Colun8': 'vlAnulacaoOP'
                     },inplace= True)

AOP11.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codReduzidoAOP','Colun2': 'codOrgao','Colun3': 'codUnidadeSub',
                      'Colun4': 'nroOP','Colun5': 'dtPagamento','Colun6': 'nroAnulacaoOP','Colun7': 'dtAnulacaoOP',
                      'Colun8': 'tipoPagamento','Colun9': 'nroEmpenho','Colun10': 'dtEmpenho','Colun11': 'nroLiquidacao',
                      'Colun12': 'dtLiquidacao','Colun13': 'codFontRecursos','Colun14': 'codCO','Colun15': 'valorAnulacaoFonte'
                     },inplace= True)

AOP12.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codReduzidoAOP','Colun2': 'tipoDocumentoOP','Colun3': 'nroDocumento',
                      'Colun4': 'codCTB','Colun5': 'codFonteCTB','Colun6': 'descTipoDocumentoOP','Colun7': 'dtEmissao',
                      'Colun8': 'vlDocumento'
                     },inplace= True)

AOP13.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codReduzidoAOP','Colun2': 'tipoRetencao','Colun3': 'descricaoRetencao',
                      'Colun4': 'vlRetencao'
                     },inplace= True)

AOP14.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codReduzidoAOP','Colun2': 'tipoVlAntecipado','Colun3': 'descricaoVlAntecipado',
                      'Colun4': 'vlAntecipado'
                     },inplace= True)

AOP99.rename(columns={'Colun0': 'tipoRegistro'
                     },inplace= True)

In [ ]:
unir = pd.concat([AOP10,AOP11,AOP12,AOP13,AOP14,AOP99])
s_unir = r'G:\Meu Drive\Bases Dash Câmara BI\Bases Unidas'
unir.to_excel(f"{s_unir}\{nameSalvar}_unificado.xlsx", index=False)

In [ ]:
# Caminho para os arquivos CSV do EXT
caminho_diretorio = r'G:\Meu Drive\Bases Dash Câmara BI\Base Original EXT'
retornoDaFunc = unificandoDf(caminho_diretorio)
base = retornoDaFunc[0]
nameSalvar = retornoDaFunc[1]

In [ ]:
#separando por categoria
EXT10 = base.loc[base['Colun0'] == 10]
EXT20 = base.loc[base['Colun0'] == 20]
EXT30 = base.loc[base['Colun0'] == 30]
EXT31 = base.loc[base['Colun0'] == 31]
EXT32 = base.loc[base['Colun0'] == 32]
EXT99 = base.loc[base['Colun0'] == 99]

EXT10.dropna(axis=1, how="all",inplace= True)
EXT20.dropna(axis=1, how="all",inplace= True)
EXT30.dropna(axis=1, how="all",inplace= True)
EXT31.dropna(axis=1, how="all",inplace= True)
EXT32.dropna(axis=1, how="all",inplace= True)
EXT99.dropna(axis=1, how="all",inplace= True)

In [ ]:
EXT10.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codEXT','Colun2': 'codOrgao','Colun3': 'tipoLancamento',
                      'Colun4': 'subTipo','Colun5': 'desdobraSubTipo','Colun6': 'descExtraOrc'
                     },inplace= True)

EXT20.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codOrgao','Colun2': 'codEXT','Colun3': 'codFontRecursos',
                      'Colun4': 'exercicioCompDevo','Colun5': 'vlSaldoAnteriorFonte','Colun6': 'natSaldoAnteriorFonte','Colun7': 'totalDebitos',
                      'Colun8': 'totalCreditos','Colun9': 'vlSaldoAtualFonte','Colun10': 'natSaldoAtualFonte'
                     },inplace= True)

EXT30.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codEXT','Colun2': 'codFontRecursos','Colun3': 'codReduzidoOP',
                      'Colun4': 'nroOP','Colun5': 'codUnidadeSub','Colun6': 'dtPagamento','Colun7': 'tipoDocumentoCredor',
                      'Colun8': 'nroDocumentoCredor','Colun9': 'vlOP','Colun10': 'especificacaoOP','Colun11': 'cpfRespPgto',
                     },inplace= True)

EXT31.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codReduzidoOP','Colun2': 'tipoDocumentoOP','Colun3': 'nroDocumento',
                      'Colun4': 'codCTB','Colun5': 'codFonteCTB','Colun6': 'descTipoDocumentoOP','Colun7': 'dtEmissao',
                      'Colun8': 'vlDocumento'
                     },inplace= True)

EXT32.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codReduzidoOP','Colun2': 'tipoRetencao','Colun3': 'descricaoRetencao',
                      'Colun4': 'vlRetencao'
                     },inplace= True)

EXT99.rename(columns={'Colun0': 'tipoRegistro'
                     },inplace= True)

In [ ]:
unir = pd.concat([EXT10,EXT20,EXT30,EXT31,EXT32,EXT99])
s_unir = r'G:\Meu Drive\Bases Dash Câmara BI\Bases Unidas'
unir.to_excel(f"{s_unir}\{nameSalvar}_unificado.xlsx", index=False)

In [ ]:
# Caminho para os arquivos CSV do AEX
caminho_diretorio = r'G:\Meu Drive\Bases Dash Câmara BI\Base Original AEX'
retornoDaFunc = unificandoDf(caminho_diretorio)
base = retornoDaFunc[0]
nameSalvar = retornoDaFunc[1]

In [ ]:
#separando por categoria
AEX10 = base.loc[base['Colun0'] == 10]
AEX99 = base.loc[base['Colun0'] == 99]

AEX10.dropna(axis=1, how="all",inplace= True)
AEX99.dropna(axis=1, how="all",inplace= True)

In [ ]:
AEX10.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codEXT','Colun2': 'codFontRecursos','Colun3': 'nroOP',
                      'Colun4': 'codUnidadeSub','Colun5': 'dtPagamento','Colun6': 'nroAnulacaoOP','Colun7': 'dtAnulacaoOP',
                      'Colun8': 'vlAnulacaoOP'
                     },inplace= True)

AEX99.rename(columns={'Colun0': 'tipoRegistro'
                     },inplace= True)

In [ ]:
unir = pd.concat([AEX10,AEX99])
s_unir = r'G:\Meu Drive\Bases Dash Câmara BI\Bases Unidas'
unir.to_excel(f"{s_unir}\{nameSalvar}_unificado.xlsx", index=False)

In [ ]:
# Caminho para os arquivos CSV do REC
caminho_diretorio = r'G:\Meu Drive\Bases Dash Câmara BI\Base Original REC'
retornoDaFunc = unificandoDf(caminho_diretorio)
base = retornoDaFunc[0]
nameSalvar = retornoDaFunc[1]

In [ ]:
#separando por categoria
REC10 = base.loc[base['Colun0'] == 10]
REC11 = base.loc[base['Colun0'] == 11]
REC99 = base.loc[base['Colun0'] == 99]

REC10.dropna(axis=1, how="all",inplace= True)
REC11.dropna(axis=1, how="all",inplace= True)
REC99.dropna(axis=1, how="all",inplace= True)

In [ ]:
REC10.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codReceita','Colun2': 'codOrgao','Colun3': 'eDeducaoDeReceita',
                      'Colun4': 'tipoDocumento','Colun5': 'naturezaReceita','Colun6': 'vlArrecadado'
                     },inplace= True)

REC11.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codReceita','Colun2': 'codFontRecursos','Colun3': 'codCO',
                      'Colun4': 'tipoDocumento','Colun5': 'nroDocumento','Colun6': 'nroConvenio','Colun7': 'dataAssinatura',
                      'Colun8': 'nroContratoOP','Colun9': 'dataAssinaturaContratoOP','Colun10': 'vlArrecadadoFonte'
                      },inplace= True)

REC99.rename(columns={'Colun0': 'tipoRegistro' },inplace= True)

In [ ]:
unir = pd.concat([REC10,REC11,REC99])
s_unir = r'G:\Meu Drive\Bases Dash Câmara BI\Bases Unidas'
unir.to_excel(f"{s_unir}\{nameSalvar}_unificado.xlsx", index=False)

In [ ]:
# Caminho para os arquivos CSV do ARC
caminho_diretorio = r'G:\Meu Drive\Bases Dash Câmara BI\Base Original ARC'
retornoDaFunc = unificandoDf(caminho_diretorio)
base = retornoDaFunc[0]
nameSalvar = retornoDaFunc[1]

In [ ]:
#separando por categoria
ARC10 = base.loc[base['Colun0'] == 10]
ARC11 = base.loc[base['Colun0'] == 11]
ARC12 = base.loc[base['Colun0'] == 12]
ARC20 = base.loc[base['Colun0'] == 20]
ARC21 = base.loc[base['Colun0'] == 21]
ARC99 = base.loc[base['Colun0'] == 99]

ARC10.dropna(axis=1, how="all",inplace= True)
ARC11.dropna(axis=1, how="all",inplace= True)
ARC12.dropna(axis=1, how="all",inplace= True)
ARC20.dropna(axis=1, how="all",inplace= True)
ARC21.dropna(axis=1, how="all",inplace= True)
ARC99.dropna(axis=1, how="all",inplace= True)

In [ ]:
ARC10.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codCorrecao','Colun2': 'codOrgao','Colun3': 'eDeducaoDeReceita',
                      'Colun4': 'identificadorDeducaoRecReduzida','Colun5': 'naturezaReceitaReduzida','Colun6': 'identificadorDeducaoRecAcrescida',
                      'Colun7': 'naturezaReceitaAcrescida','Colun8': 'vlReduzidoAcrescido'
                     },inplace= True)

ARC11.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codCorrecao','Colun2': 'codFonteReduzida','Colun3': 'codCO',
                      'Colun4': 'tipoDocumento','Colun5': 'nroDocumento','Colun6': 'nroConvenio',
                      'Colun7': 'dataAssinatura','Colun8': 'nroContratoOP','Colun9': 'dataAssinaturaContratoOP','Colun10': 'vlReduzidoFonte'
                     },inplace= True)

ARC12.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codCorrecao','Colun2': 'codFonteAcrescida','Colun3': 'codCO',
                      'Colun4': 'tipoDocumento','Colun5': 'nroDocumento','Colun6': 'nroConvenio','Colun7': 'dataAssinatura',
                      'Colun8': 'nroContratoOP','Colun9': 'dataAssinaturaContratoOP','Colun10': 'vlAcrescidoFonte'
                     },inplace= True)

ARC20.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codOrgao','Colun2': 'codEstorno','Colun3': 'eDeducaoDeReceita',
                      'Colun4': 'identificadorDeducao','Colun5': 'naturezaReceitaEstornada','Colun6': 'vlEstornado',
                     },inplace= True)

ARC21.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codEstorno','Colun2': 'codFonteEstornada','Colun3': 'codCO',
                      'Colun4': 'tipoDocumento','Colun5': 'nroDocumento','Colun6': 'nroConvenio','Colun7': 'dataAssinatura',
                      'Colun8': 'nroContratoOP','Colun9': 'dataAssinaturaContratoOP','Colun10': 'vlEstornadoFonte'
                     },inplace= True)

ARC99.rename(columns={'Colun0': 'tipoRegistro'},inplace= True)

In [ ]:
unir = pd.concat([ARC10,ARC11,ARC12,ARC20,ARC21,ARC99])
s_unir = r'G:\Meu Drive\Bases Dash Câmara BI\Bases Unidas'
unir.to_excel(f"{s_unir}\{nameSalvar}_unificado.xlsx", index=False)

In [ ]:
# Caminho para os arquivos CSV do ARC
caminho_diretorio = r'G:\Meu Drive\Bases Dash Câmara BI\Base Original RSP'
retornoDaFunc = unificandoDf(caminho_diretorio)
base = retornoDaFunc[0]
nameSalvar = retornoDaFunc[1]

In [ ]:
#separando por categoria
RSP10 = base.loc[base['Colun0'] == 10]
RSP11 = base.loc[base['Colun0'] == 11]
RSP12 = base.loc[base['Colun0'] == 12]
RSP20 = base.loc[base['Colun0'] == 20]
RSP21 = base.loc[base['Colun0'] == 21]
RSP22 = base.loc[base['Colun0'] == 22]
RSP99 = base.loc[base['Colun0'] == 99]

RSP10.dropna(axis=1, how="all",inplace= True)
RSP11.dropna(axis=1, how="all",inplace= True)
RSP12.dropna(axis=1, how="all",inplace= True)
RSP20.dropna(axis=1, how="all",inplace= True)
RSP21.dropna(axis=1, how="all",inplace= True)
RSP22.dropna(axis=1, how="all",inplace= True)
RSP99.dropna(axis=1, how="all",inplace= True)

In [ ]:
RSP10.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codReduzidoRSP','Colun2': 'codOrgao','Colun3': 'codUnidadeSub',
                      'Colun4': 'codUnidadeSubOrig','Colun5': 'nroEmpenho','Colun6': 'exercicioEmpenho','Colun7': 'dtEmpenho',
                      'Colun8': 'dotOrig','Colun9': 'vlOriginal','Colun10': 'vlSaldoAntProce','Colun11': 'vlSaldoAntNaoProc'
                     },inplace= True)

RSP11.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codReduzidoRSP','Colun2': 'codFontRecursos','Colun3': 'codCO',
                      'Colun4': 'vlOriginalFonte','Colun5': 'vlSaldoAntProceFonte','Colun6': 'vlSaldoAntNaoProcFonte'
                     },inplace= True)

RSP12.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codReduzidoRSP','Colun2': 'tipoDocumento','Colun3': 'nroDocumento',
                     },inplace= True)

RSP20.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codReduzidoMov','Colun2': 'codOrgao','Colun3': 'codUnidadeSub',
                      'Colun4': 'codUnidadeSubOrig','Colun5': 'nroEmpenho','Colun6': 'exercicioEmpenho','Colun7': 'dtEmpenho',
                      'Colun8': 'tipoRestosPagar','Colun9': 'tipoMovimento','Colun10': 'dtMovimentacao','Colun11': 'dotOrig',
                      'Colun12': 'vlMovimentacao','Colun13': 'codOrgaoEncampAtribuic','Colun14': 'codUnidadeSubEncampAtribuic','Colun15': 'justificativa',
                      'Colun16': 'atoCancelamento','Colun17': 'dataAtoCancelamento'
                     },inplace= True)

RSP21.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codReduzidoMov','Colun2': 'codFontRecursos','Colun3': 'codCO',
                      'Colun4': 'codIdentificaFR','Colun5': 'vlMovimentacaoFonte'
                     },inplace= True)

RSP22.rename(columns={'Colun0': 'tipoRegistro', 'Colun1': 'codReduzidoMov','Colun2': 'tipoDocumento','Colun3': 'nroDocumento',
                     },inplace= True)

RSP99.rename(columns={'Colun0': 'tipoRegistro'},inplace= True)

In [ ]:
unir = pd.concat([RSP10,RSP11,RSP12,RSP20,RSP21,RSP22,RSP99])
s_unir = r'G:\Meu Drive\Bases Dash Câmara BI\Bases Unidas'
unir.to_excel(f"{s_unir}\{nameSalvar}_unificado.xlsx", index=False)

In [ ]:
EXT10

In [ ]:
EXT20

In [73]:
ex10_20 = EXT20.merge(EXT10,on='codEXT',how='left')
ex10_20

,tipoRegistro_x,codOrgao_x,codEXT,codFontRecursos,exercicioCompDevo,vlSaldoAnteriorFonte,natSaldoAnteriorFonte,totalDebitos,totalCreditos,vlSaldoAtualFonte,natSaldoAtualFonte,Origem_Arquivo_x,tipoRegistro_y,codOrgao_y,tipoLancamento,subTipo,desdobraSubTipo,descExtraOrc,Origem_Arquivo_y
0,20,2,1,118,,"1925,59",C,"1925,59","0,00","0,00",C,EXT_AM_01770_02_01_2023.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20,2,1,1540000,,"0,00",C,"1925,59","1925,59","0,00",C,EXT_AM_01770_02_01_2023.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20,2,1,129,,"132,00",C,"132,00","0,00","0,00",C,EXT_AM_01770_02_01_2023.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20,2,1,1660000,,"0,00",C,"132,00","132,00","0,00",C,EXT_AM_01770_02_01_2023.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20,2,1,159,,"4942,20",C,"4942,20","0,00","0,00",C,EXT_AM_01770_02_01_2023.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,20,1,54,1500000,,"0,00",C,"13,59","13,59","0,00",C,EXT_AM_02114_01_01_2023.csv,10,1,01,0009,,SEST/SENAT,EXT_AM_02114_01_01_2023.csv
123,20,1,55,1500000,2022,"0,00",D,"62838,38","0,00","62838,38",D,EXT_AM_02114_01_01_2023.csv,10,1,04,0002,0002,DEVOLUÇÃO DE NUMERÁRIO PARA A PREFEITURA,EXT_AM_02114_01_01_2023.csv
124,20,1,65,100,,"116,25",D,"0,00","116,25","0,00",D,EXT_AM_02114_01_01_2023.csv,10,1,03,0002,,SALÁRIO-MATERNIDADE,EXT_AM_02114_01_01_2023.csv
125,20,1,65,1500000,,"0,00",D,"116,25","0,00","116,25",D,EXT_AM_02114_01_01_2023.csv,10,1,03,0002,,SALÁRIO-MATERNIDADE,EXT_AM_02114_01_01_2023.csv
126,20,1,94,1869000,,"0,00",C,"0,00","47,19","47,19",C,EXT_AM_02114_01_01_2023.csv,10,1,01,0012,,APLICAÇÃO FINANCEIRA,EXT_AM_02114_01_01_2023.csv

In [76]:
base20 = ex10_20.drop(["tipoRegistro_y","codOrgao_y","subTipo","desdobraSubTipo","descExtraOrc","Origem_Arquivo_y"], axis=1)
base20

,tipoRegistro_x,codOrgao_x,codEXT,codFontRecursos,exercicioCompDevo,vlSaldoAnteriorFonte,natSaldoAnteriorFonte,totalDebitos,totalCreditos,vlSaldoAtualFonte,natSaldoAtualFonte,Origem_Arquivo_x,tipoLancamento
0,20,2,1,118,,"1925,59",C,"1925,59","0,00","0,00",C,EXT_AM_01770_02_01_2023.csv,NaN
1,20,2,1,1540000,,"0,00",C,"1925,59","1925,59","0,00",C,EXT_AM_01770_02_01_2023.csv,NaN
2,20,2,1,129,,"132,00",C,"132,00","0,00","0,00",C,EXT_AM_01770_02_01_2023.csv,NaN
3,20,2,1,1660000,,"0,00",C,"132,00","132,00","0,00",C,EXT_AM_01770_02_01_2023.csv,NaN
4,20,2,1,159,,"4942,20",C,"4942,20","0,00","0,00",C,EXT_AM_01770_02_01_2023.csv,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,20,1,54,1500000,,"0,00",C,"13,59","13,59","0,00",C,EXT_AM_02114_01_01_2023.csv,01
123,20,1,55,1500000,2022,"0,00",D,"62838,38","0,00","62838,38",D,EXT_AM_02114_01_01_2023.csv,04
124,20,1,65,100,,"116,25",D,"0,00","116,25","0,00",D,EXT_AM_02114_01_01_2023.csv,03
125,20,1,65,1500000,,"0,00",D,"116,25","0,00","116,25",D,EXT_AM_02114_01_01_2023.csv,03
126,20,1,94,1869000,,"0,00",C,"0,00","47,19","47,19",C,EXT_AM_02114_01_01_2023.csv,01

In [79]:
unir = base20
unir.to_excel(f"{s_unir}\Base20TipoLanc.xlsx", index=False)

<>:2: SyntaxWarning: invalid escape sequence '\B'
<>:2: SyntaxWarning: invalid escape sequence '\B'
C:\Users\seiff\AppData\Local\Temp\ipykernel_14084\1266994132.py:2: SyntaxWarning: invalid escape sequence '\B'
  unir.to_excel(f"{s_unir}\Base20TipoLanc.xlsx", index=False)